openapi: 3.1.0
info:
  title: GitHub REST API via GPT (OAuth)
  version: 1.0.0
  description: Zugriff auf GitHub-Repositories via OAuth2 (authorizationCode) für GPT Actions

servers:
  - url: https://api.github.com

components:
  securitySchemes:
    GitHubOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Full repository access
            workflow: GitHub Actions workflow access
            "user:email": User email access
            read:org: Organization read access

security:
  - GitHubOAuth: []

paths:
  /user/repos:
    get:
      summary: List all repositories
      operationId: listRepositories
      responses:
        "200":
          description: Eine Liste aller Repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: Lese Datei aus Repository
      operationId: getFile
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Erfolgreich gelesen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

    put:
      summary: Datei aktualisieren oder erstellen
      operationId: updateFile
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                content:
                  type: string
                sha:
                  type: string
      responses:
        "200":
          description: Datei erfolgreich geschrieben
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /repos/{owner}/{repo}/actions/workflows:
    get:
      summary: List workflows
      operationId: listWorkflows
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Erfolgreich geladen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
