openapi: 3.1.0
info:
  title: GitHub REST API – Workflows, Issues & Contents
  version: 1.0.0
  description: >
    Zugriff auf Workflows, Workflow-Runs, Issues und Repository-Inhalte in einem GitHub-Repository.
    Authentication: Provide a GitHub fine-grained PAT via `Authorization: Bearer <token>`.

servers:
  - url: https://api.github.com
    description: GitHub REST API

paths:
  /repos/{owner}/{repo}/actions/workflows:
    get:
      summary: List workflows for a repository
      operationId: listWorkflows
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
      responses:
        '200':
          description: A list of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflows:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        state:
                          type: string
                        path:
                          type: string

  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      summary: Trigger a workflow dispatch
      operationId: dispatchWorkflow
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
          example: 1234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                  example: main
                inputs:
                  type: object
                  additionalProperties: true
      responses:
        '204':
          description: Workflow dispatched successfully

  /repos/{owner}/{repo}/actions/runs:
    get:
      summary: List workflow runs
      operationId: listWorkflowRuns
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
      responses:
        '200':
          description: A list of workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        head_branch:
                          type: string
                        status:
                          type: string
                        conclusion:
                          type: string
                        created_at:
                          type: string
                          format: date-time

  /repos/{owner}/{repo}/actions/runs/{run_id}/logs:
    get:
      summary: Download logs for a workflow run
      operationId: getWorkflowRunLogs
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
          example: 12345678
      responses:
        '200':
          description: Workflow logs (URL or archive)
          content:
            application/zip:
              schema:
                type: string
                format: binary

  /repos/{owner}/{repo}/issues:
    get:
      summary: List issues
      operationId: listIssues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
      responses:
        '200':
          description: A list of issues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    number:
                      type: integer
                    title:
                      type: string
                    state:
                      type: string
                    body:
                      type: string

    post:
      summary: Create a new issue
      operationId: createIssue
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          example: nightowle
        - name: repo
          in: path
          required: true
          schema:
            type: string
          example: qr-theory-v6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  example: New prompt from NightOwl
                body:
                  type: string
                  example: Fasse die QR-Theorie in 5 Sätzen zusammen
      responses:
        '201':
          description: Issue created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  number:
                    type: integer
                  title:
                    type: string
                  state:
                    type: string

  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: Get repository content
      operationId: getRepoContent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Repository content metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentResponse'

    put:
      summary: Create or update a file
      operationId: createOrUpdateFile
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, content]
              properties:
                message:
                  type: string
                content:
                  type: string
                  description: Base64 encoded file content
                branch:
                  type: string
                sha:
                  type: string
      responses:
        '201':
          description: File created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    $ref: '#/components/schemas/contentResponse'
                  commit:
                    type: object
                    properties:
                      sha:
                        type: string
                      url:
                        type: string
                      html_url:
                        type: string
                      message:
                        type: string
                      author:
                        type: object
                        properties:
                          name:
                            type: string
                          email:
                            type: string
                          date:
                            type: string
                      committer:
                        type: object
                        properties:
                          name:
                            type: string
                          email:
                            type: string
                          date:
                            type: string

components:
  schemas:
    contentResponse:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        sha:
          type: string
        size:
          type: integer
        url:
          type: string
        html_url:
          type: string
        git_url:
          type: string
        download_url:
          type: string
        type:
          type: string
          enum: [file, dir]
        content:
          type: string
        encoding:
          type: string
        _links:
          type: object
          properties:
            self:
              type: string
            git:
              type: string
            html:
              type: string

securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: GitHub Token

security:
  - bearerAuth: []
