openapi: 3.1.0
info:
  title: GitHub REST API via GPT (OAuth)
  version: 1.0.0
  description: Zugriff auf GitHub-Repositories via OAuth2 (authorizationCode) für GPT Actions

servers:
  - url: https://api.github.com

components:
  securitySchemes:
    GitHubOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Full repository access
            workflow: GitHub Actions workflow access
            "user:email": User email access
            read:org: Organization read access
  schemas: {}   # <--- hinzugefügt

security:
  - GitHubOAuth: []

paths:
  /user/repos:
    get:
      summary: List all repositories
      operationId: listRepositories
      responses:
        "200":
          description: Eine Liste aller Repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: Lese Datei aus Repository
      operationId: getFile
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Erfolgreich gelesen
          content:
            application/json:
              schema:
                type: object
                properties: {}            # <--- ergänzt

    put:
      summary: Datei aktualisieren oder erstellen
      operationId: updateFile
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                content:
                  type: string
                sha:
                  type: string
      responses:
        "200":
          description: Datei erfolgreich geschrieben
          content:
            application/json:
              schema:
                type: object
                properties: {}            # <--- ergänzt

  /repos/{owner}/{repo}/actions/workflows:
    get:
      summary: List workflows
      operationId: listWorkflows
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Erfolgreich geladen
          content:
            application/json:
              schema:
                type: object
                properties: {}            # <--- ergänzt

  /repos/{owner}/{repo}/hooks:
    post:
      summary: Erstelle GitHub Webhook (z. B. für Zapier)
      operationId: createWebhook
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [config]
              properties:
                name:
                  type: string
                  description: Webhook-Typ, standardmäßig "web"
                  default: web
                active:
                  type: boolean
                  description: Ob der Webhook aktiviert sein soll
                  default: true
                events:
                  type: array
                  items:
                    type: string
                  description: Liste der auslösenden Events (z. B. push)
                  default:
                    - push
                config:
                  type: object
                  description: Webhook-Konfiguration mit Ziel-URL
                  properties:
                    url:
                      type: string
                      description: Ziel-URL, z. B. Zapier Catch Hook
                    content_type:
                      type: string
                      description: MIME-Typ des Payloads
                      default: json
                    secret:
                      type: string
                      description: Optionales Secret zur Signaturprüfung
                    insecure_ssl:
                      type: string
                      description: "1" für unsichere SSL-Verbindungen, sonst "0"
      responses:
        "201":
          description: Webhook erstellt
          content:
            application/json:
              schema:
                type: object
