openapi: 3.1.0  
info:  
  title: NightOwl GitHub Manager  
  version: 1.0.0  
  description: |  
    Diese API erlaubt einem Custom GPT Zugriff auf Repositories und Dateien  
    des GitHub-Benutzers `nightowle`. Sie ermöglicht das Lesen, Bearbeiten  
    und Aktualisieren von Dateien sowie das Auslösen von GitHub Actions Workflows.  
  
servers:  
  - url: https://api.github.com  
    description: GitHub REST API  
  
security:  
  - bearerAuth: []  
  
components:  
  securitySchemes:  
    bearerAuth:  
      type: http  
      scheme: bearer  
      bearerFormat: GitHub Token  
  
  schemas:  
    FileContentResponse:  
      type: object  
      properties:  
        name:  
          type: string  
        path:  
          type: string  
        sha:  
          type: string  
        size:  
          type: integer  
        type:  
          type: string  
        encoding:  
          type: string  
        content:  
          type: string  
          description: Base64-codierter Inhalt  
  
    FileUpdateRequest:  
      type: object  
      required:  
        - message  
        - content  
      properties:  
        message:  
          type: string  
          description: Commit-Nachricht  
        content:  
          type: string  
          description: Base64-codierter Dateiinhalt  
        branch:  
          type: string  
          description: Name des Branches (Standard: main)  
        sha:  
          type: string  
          description: Aktuelle Datei-SHA (nur bei Updates nötig)  
  
    WorkflowDispatchRequest:  
      type: object  
      required:  
        - ref  
      properties:  
        ref:  
          type: string  
          description: Branch oder Tag (z. B. "main")  
        inputs:  
          type: object  
          additionalProperties:  
            type: string  
          description: Optionale Eingabewerte für den Workflow  
  
paths:  
  /repos/nightowle/{repo}/contents/{path}:  
    get:  
      operationId: getFile  
      summary: Lese eine Datei aus einem Repository  
      parameters:  
        - name: repo  
          in: path  
          required: true  
          schema:  
            type: string  
        - name: path  
          in: path  
          required: true  
          schema:  
            type: string  
        - name: ref  
          in: query  
          schema:  
            type: string  
          description: Branch/Tag/SHA  
      responses:  
        '200':  
          description: Dateiinhalt gelesen  
          content:  
            application/json:  
              schema:  
                $ref: '#/components/schemas/FileContentResponse'  
  
    put:  
      operationId: updateFile  
      summary: Aktualisiere oder erstelle eine Datei  
      parameters:  
        - name: repo  
          in: path  
          required: true  
          schema:  
            type: string  
        - name: path  
          in: path  
          required: true  
          schema:  
            type: string  
      requestBody:  
        required: true  
        content:  
          application/json:  
            schema:  
              $ref: '#/components/schemas/FileUpdateRequest'  
      responses:  
        '200':  
          description: Datei aktualisiert  
        '201':  
          description: Datei erstellt  
  
  /repos/nightowle/{repo}/actions/workflows/{workflow_id}/dispatches:  
    post:  
      operationId: dispatchWorkflow  
      summary: Starte einen GitHub Actions Workflow  
      parameters:  
        - name: repo  
          in: path  
          required: true  
          schema:  
            type: string  
        - name: workflow_id  
          in: path  
          required: true  
          schema:  
            type: string  
      requestBody:  
        required: true  
        content:  
          application/json:  
            schema:  
              $ref: '#/components/schemas/WorkflowDispatchRequest'  
      responses:  
        '204':  
          description: Workflow gestartet  
